:root {
  --main-primary: #535FE6;
  --main-secondary: #20C1CF;
  --main-tertiary: #EB5844;

  --user-black: #1d1e22;
  --user-dark-gray: #23252F;
  --user-gray: #5E647A;
  --user-light-gray: #F7FAFF;
  --user-white: #FFFFFF;

  --gradient-border: linear-gradient(-225deg, rgba(83, 95, 230, 1), rgba(32, 193, 207, .33), rgba(83, 95, 230, .34));
  --gradient-primary: linear-gradient(324deg, rgba(83, 95, 230, 0.84) 30.14%, rgba(32, 193, 207, 0.57) 89.37%);

  --shadows-black: #1D1E22;
}